<form action="" method="post">
                      {% csrf_token %}
                      {{ form.as_p }}

                      <div class="container">
                        <h1>Register</h1>
                        <label for="psw"><b>Repeat Password</b></label>
                        <input type="password" placeholder="Enter Password" name="new_password" id="new_password" required>
                        <label for="psw-repeat"><b>Repeat Password</b></label>
                        <input type="password" placeholder="Repeat Password" name="re_new_password" id="re_new_password" required>
                        <hr>
                        <button type="submit" class="registerbtn">SUBMIT</button>
                      </div>
                    </form>